if locals.messages
    .alertas
        each category in Object.keys(locals.messages)
            each error in messages [category]
                .alerta(class=`${category}`)
                    p= error