<!DOCTYPE html>
html(lang="es")
    head
        include partials/header
    body
        header.barra
            h1 Uptask - Administracion de proyectos
            a(href="#") Cerrar sesion

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/new-projects").boton Nuevo
                        span +
                .panel.lista-proyectos
                    h2 PROYECTOS
                    ul#proyectos.proyectos
                        if (projects && typeof projects !== 'undefined')
                            if (projects.length > 0)
                                each project in projects
                                    li
                                        a(href=`/projects/${project.url}`)= project.name

            block container

            //pre= vardump(projects)
        script(src="/dist/bundle.js")