<!DOCTYPE html>
html(lang="es")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale=1.0)
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title #{pageName}
    body
        header.barra
            h1 Uptask - Administracion de proyectos
            a(href="#") Cerrar sesion

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/new-projects").boton Nuevo
                        span +
                .panel.lista-proyectos
                    h2 PROYECTOS
                    ul#proyectos.proyectos
                        if (projects && typeof projects !== 'undefined')
                            if (projects.length > 0)
                                each project in projects
                                    li
                                        a(href=`/projects/${project.url}`)= project.name

            block container

            //pre= vardump(projects)
