<!DOCTYPE html>
html(lang="es")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Inicia sesion en Uptask

            include partials/errors

            form#formulario.caja.caja-login(method="POST" action="/login")
                .campo
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="Tu email por favor" value= email required)
                .campo
                    label(for="password") E-mail:
                    input(type="password" name="password" placeholder="Tu password por favor" value= password required)
                .campo.enviar
                    input.boton(type="submit" value="Iniciar sesion")
                .campo.acciones
                    a(href="/create-account") ¿Aun no tienes cuenta? Crea una gratis
                    a(href="/reset-account") ¿Olvidaste tu contraseña?












