extends  layout
block container
    .contenido-principal
        h1 #{pageName}

        if errors
            each error in errors
                .alerta= error.message

        form.agregar-proyecto(action="/new-projects" method="POST")
            .campo
                label(for="name") Nombre Proyecto:
                input(type="text" id="name" name="name" placeholder="Nombre Proyecto")

            .campo.enviar
                input(type="submit" value="Agregar" class="boton")
