extends  layout

block container
    .contenido-principal
        h1 #{pageName}
        //pre= vardump(project)
        if errors
            each error in errors
                .alerta= error.message
