extends  layout
block container
    .contenido-principal
        h1 #{pageName} - #{project.name}
            .contenedor-acciones
                a(href=`/projects/edit/${project.id}` class="boton") Editar
                button#delete-project(data-project-url=project.url type="button" class="boton eliminar") Eliminar

        //pre= vardump(project)
