<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include email.css
    body
        h2 Confirma tu cuenta Uptask
        p Ya casi esta, solo pulsa el siguiente boton
        a(href=`${confirmUrl}`) Confirma tu cuenta
        p Si no puedes acceder a este enlace, visita #{confirmUrl}
        p Si no solicitaste esta inscripcion, ignora este correo