<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include email.css
    body
        h2 Restabecer Password
        p Hola, has solicitado restablecer tu password, haz click en el siguiente enlace para restablecerlo, este enlace es temporal, en caso de vencimiento, solicita un nuevo password.
        a(href=`${resetUrl}`) Ir a Restablecer contraseña
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicitaste cambio de password, ignora este correo